<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <style>
  table {
    margin: 0 auto; /* Center the table horizontally */
    width: auto; /* Allow the table to adjust its width based on content */
    border-collapse: collapse; /* Collapse table borders */
  }
  th, td {
    border: 1px solid black; /* Add borders to cells */
    padding: 8px; /* Add padding to cells */
    text-align: center; /* Center align text in cells */
  }
</style>
</head>
<body>
 <div class="login">
    <h1> Student end of year academic performance score Predictor</h1>
    <form action="{{ url_for('predict') }}" method="post">  
 <table> <tr>
  <td><strong>Gender: </strong></td>
  <td>
    <select name="sex">
      <option value=""></option>
      <option value="1">Male</option>
      <option value="0">Female</option>
    </select>
  </td>
</tr>
<tr>
  <td><strong>Age: </strong></td>
  <td><input name="age" placeholder="Age" required="required"/></td>
<tr>
  <td><strong>Mother Edu:</strong></td>
  <td>
    <label><input type="radio" name="Medu" value="0" required> None</label><br>
    <label><input type="radio" name="Medu" value="1" required> Primary Education (4th grade)</label><br>
    <label><input type="radio" name="Medu" value="2" required> 5th to 9th Grade</label><br>
    <label><input type="radio" name="Medu" value="3" required> Secondary Education</label><br>
    <label><input type="radio" name="Medu" value="4" required> Higher Education</label><br>
  </td>
</tr>
<tr>
  <td><strong>Father Edu:</strong></td>
  <td>
    <label><input type="radio" name="Fedu" value="0" required> None</label><br>
    <label><input type="radio" name="Fedu" value="1" required> Primary Education (4th grade)</label><br>
    <label><input type="radio" name="Fedu" value="2" required> 5th to 9th Grade</label><br>
    <label><input type="radio" name="Fedu" value="3" required> Secondary Education</label><br>
    <label><input type="radio" name="Fedu" value="4" required> Higher Education</label><br>
  </td>
</tr>

<tr>
  <td><strong>Mother's Job</strong></td>
  <td>
    <label><input type="radio" name="Mjob" value="0" required> Teacher</label><br>
    <label><input type="radio" name="Mjob" value="1" required> Health</label><br>
    <label><input type="radio" name="Mjob" value="2" required> Services</label><br>
    <label><input type="radio" name="Mjob" value="3" required> At Home</label><br>
    <label><input type="radio" name="Mjob" value="4" required> Other</label><br>
  </td>
</tr>
   <tr>
  <td><strong>Father's Job:</strong></td>
  <td>
    <label><input type="radio" name="Fjob" value="0" required> Teacher</label><br>
    <label><input type="radio" name="Fjob" value="1" required> Health Care Related</label><br>
    <label><input type="radio" name="Fjob" value="2" required> Civil Services</label><br>
    <label><input type="radio" name="Fjob" value="3" required> At Home</label><br>
    <label><input type="radio" name="Fjob" value="4" required> Other</label><br>
  </td>
</tr>

   <tr>
  <td><strong>Home to School Travel Time:</strong></td>
  <td>
    <label><input type="radio" name="traveltime" value="1" required> < 15 min.</label><br>
    <label><input type="radio" name="traveltime" value="2" required> 15 to 30 min.</label><br>
    <label><input type="radio" name="traveltime" value="3" required> 30 min. to 1 hour</label><br>
    <label><input type="radio" name="traveltime" value="4" required> > 1 hour</label><br>
  </td>
</tr>
   <tr>
  <td><strong>Weekly Study Time:</strong></td>
  <td>
    <label><input type="radio" name="studytime" value="1" required> < 2 hours</label><br>
    <label><input type="radio" name="studytime" value="2" required> 2 to 5 hours</label><br>
    <label><input type="radio" name="studytime" value="3" required> 5 to 10 hours</label><br>
    <label><input type="radio" name="studytime" value="4" required> > 10 hours</label><br>
  </td>
</tr>
        
        <input name="failures" placeholder="Failures" required="required"/><br>
        <input name="schoolsup" placeholder="School Support" required="required"/><br>
        <input name="famsup" placeholder="Family Support" required="required"/><br>
        <input name="paid" placeholder="Paid" required="required"/><br>
        <input name="nursery" placeholder="Nursery" required="required"/><br>
        <input name="internet" placeholder="Internet" required="required"/><br>
        <input name="romantic" placeholder="Romantic" required="required"/><br>
        <input name="famrel" placeholder="Family Relationship" required="required"/><br>
        <input name="goout" placeholder="Go Out" required="required"/><br>
         <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
 </table>
    </form>
    <br>
    <br>
    <!-- Display prediction result -->
    {% if prediction_text %}
    <p>{{ prediction_text }}</p>
    {% endif %}
</div>
</body>
</html>


